<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin-left: 500px ; margin-top: 200px; background-color:pink;">
    <h1 style="margin-left: 250px"> Sorry </h1>
    <h2 style="margin-top: 50px"> This Username is already exist, please try another one </h2>

    <p>
        <form action= "/signup" method="get">
            <button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
            margin-left: 250px ; margin-top: 40px"> Try again </button>
        </form>
    </p>
</body>
</html>