<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin-left: 350px ; margin-top: 200px; background-color:pink;">
    <h1 style="margin-left: 350px"> Sorry </h1>
    <h2 style="margin-top: 50px"> You are not a user at Fun Page, Please Sign Up OR try to login again </h2>

    <p>

        <form action= "/login" method="get">
            <button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
            margin-left: 350px ; margin-top: 40px"> login </button>
        </form>

        <form action= "/signup" method="get">
            <button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
            margin-left: 350px ; margin-top: 40px"> sign up </button>
        </form>
    </p>
</body>
</html>