<!DOCTYPE html>
<html>
	<head></head>
	<body style="margin-left: 400px ; margin-top: 200px; background-color:pink;">
		<form action="/surprise" method="POST">

			<p></p>
			<h1> Please Enter your Username and password to start the fun! </h1>
			<p></p>

			<p>
			<h2 style="margin-left: 200px" >Please enter the Username</h2>
			<input style="margin-left: 250px " type="text" name="uname">
			</p>

			<p>
			<h2 style="margin-left: 200px ">Please enter the Password</h2>
			<input style="margin-left: 250px " type ="password" name="pword">
			</p>

			<p>
			<button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
			margin-left: 300px; margin-top: 40px"> Login </button>
			</p>
		</form>
		<form action= "/" method="get">
			<button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
			margin-left: 300px ; margin-top: 40px"> Back </button>
		</form>


	</body>
</html>