<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin-left: 600px ; margin-top: 200px; background-color:pink;">
    <h1 style="margin-left: 120px"> Try again </h1>
    <h2 style="margin-top: 50px"> Please retype the password correctly </h2>

    <p></p>
        <form action= "/signup" method="get">
            <button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
            margin-left: 150px ; margin-top: 40px"> Try again </button>
        </form>
    <p></p>
</body>
</html>