<!DOCTYPE html>
<html>
	<head></head>
	<body style="margin-left: 600px ; margin-top: 120px; background-color:pink;">
		<form action= "/loginAfterSign" method="post">
			<p></p>
			<h1 style="margin-left: 50px"> let's sign up </h1>
			<p></p>

			<p>
			<h2 style=" margin-top: 50px">Please enter a Username</h2>
			<input style="margin-left: 50px " type="text" name="unameUp">
			</p>

			<p>
			<h2>Please enter a Password</h2>
			<input style="margin-left: 50px" type ="password" name="pwordUp">
			</p>

			<p>
			<h2>Please confirm the Password</h2>
			<input style="margin-left: 50px" type ="password" name="pwordUp1">
			</p>


			<button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
					margin-left: 100px; margin-top: 40px"> Sign up </button>
		</form>
			<form action= "/" method="get">
				<button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
				margin-left: 110px ; margin-top: 40px"> Back </button>
			</form>


	</body>
</html>