<!DOCTYPE html>
<html>
	<head></head>
	<body  style="margin-left: 200px ; margin-top: 50px;margin-bottom: 50px; background-color: pink; ">

		<p></p>
		<h1 style="margin-left: 500px;align=center; margin-bottom: 50px"> Enjoy your time <3 </h1>
		<p></p>

		<!--<h1 style="align= right">
			<a href='/'> home page</a>
		</h1>-->





		<!-- https://www.grantaguinaldo.com/rendering-variables-python-flask/ -->
		<!--{% for i in newsData %}
		<p style="margin-top: 100px;">
		<img src='{{ i["urlToImage"] }}'
				 alt="image can't load!!"
				 align="left"
				 width="320"
				 height="240"
				 HSPACE="50"/>
			<h1>{{ i["title"] }}</h1>
			<h3>{{ i["description"] }}</h3>
			<h2>
			<a href='{{ i["url"] }}'>details</a>
			</h2>
			<BR CLEAR=”left” >

		<p></p>

		{% endfor %}
		<p></p>-->

		<!-- Embed video from internal path; must be in static folder -->
		<!--<video
				width="640" height="480" controls autoplay
				alt="vid can't load!!"
				align="middle">
			<source src="{{url_for('static', filename='videos/file_example.mp4')}}"
					type=video/mp4>
    	</video>-->

		<!-- Embed video from external url, for youtube we need the embed link -->
		<!--<iframe src="https://www.youtube.com/embed/AqQ1TYEkb8s"
				width="640"
				height="480"
				frameborder="0"
				allowfullscreen>
		</iframe>-->

		<iframe style= "align=center"
				width="1120"
				height="630"
				src="https://www.youtube.com/embed/ZVJ3Ho83Ksg"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


		<!--<p></p>
			<img src="{{url_for('static', filename='images/Sample.jpg')}}"
				 alt="image can't load!!"
				 align="middle"
				 width="640"
				 height="480"/>
		<p></p>-->


	</body>
</html>