<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Welcome to our fun page </title>
	</head>
	<body style="margin-left: 600px ; margin-top: 200px; background-color:pink;">

		<p></p>
		<h1> Welcome to our fun page :) </h1>
		<h2 style="margin-left: 50px "> Are you one of our Users?  </h2>
		<p></p>

		<p>
			<form action= "/login" method="get">
				<button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
				margin-left: 150px ; margin-top: 40px"> YES </button>
			</form>
		</p>

		<p>
			<form action= "/signup" method="get">
				<button type="submit" style="background-color: gray; font-size:20px; font-weight:bold;
				margin-left: 150px ; margin-top: 40px"> NO </button>
			</form>
		</p>


	</body>
</html>